{% extends "_base.html" %}
{% block nav_portfolio %}current{% endblock %}
{% block header %}Portfolio{% endblock %}
{% block content %}
<ul>
	<li><a href="https://github.com/AustinOldham" style="font-weight: bold">Github</a></li>
	<li><a href="http://starogen.com">Starogen[Godot][C++][GDScript/Python]</a></li>
	<li><a href="https://github.com/AustinOldham/austinoldham.github.io">Starogen's Website[HTML][CSS]</a></li>
	<li><a href="https://github.com/AustinOldham/oldham.cc">This Website[Flask][HTML][CSS]</a></li>
	<li><a href="https://github.com/AustinOldham/RadialGradient">Radial Gradient[C++]</a></li>
	<li><a href="https://github.com/AustinOldham/PythonScripts">PythonScripts[Python]</a></li>
	<li><a>Simple FUSE Filesystem[C]*</a></li>
	<li><a>Apartment Simulator Using Condition Variables[C]*</a></li>
	<li><a>Page Replacement Algorithm Simulation[Java]*</a></li>
	<li><a>Simple Command-Line RPG[C]*</a></li>
	<li><a>Simple Command-Line Image Editor[C]*</a></li>
	<li><a>Java Unit Tests[JUnit][Java]*</a></li>
</ul>
<br>
<p>*Due to a requirement by my university, this project cannot be posted online.</p>
{% endblock %}